.page {
    max-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ffff;
    background: black;
}

.social {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #00ffff;
    background: black;
}

.text {
    font-family: monospace !important;
    font-size: 24px;
}